<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gestorfinan</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<mapping class="com.italoweb.gestorfinan.model.Cliente" />
		<mapping class="com.italoweb.gestorfinan.model.Producto" />
		<mapping class="com.italoweb.gestorfinan.model.Usuario" />
		<mapping class="com.italoweb.gestorfinan.model.MedioPago" />
		<mapping class="com.italoweb.gestorfinan.model.Concepto" />
		<mapping class="com.italoweb.gestorfinan.model.Nota" />
		<mapping class="com.italoweb.gestorfinan.model.CategoriaNota" />
		<mapping class="com.italoweb.gestorfinan.model.Categoria" />
		<mapping class="com.italoweb.gestorfinan.model.Movimiento" />
		<mapping class="com.italoweb.gestorfinan.model.venta.Ventas" />
		<mapping class="com.italoweb.gestorfinan.model.venta.VentaDetalle" />
		<mapping class="com.italoweb.gestorfinan.model.compra.Compras" />
		<mapping class="com.italoweb.gestorfinan.model.compra.CompraDetalle" />
		<mapping class="com.italoweb.gestorfinan.model.Proveedor" />
		<mapping class="com.italoweb.gestorfinan.model.Empleado" />
		<mapping class="com.italoweb.gestorfinan.model.Inventario" />
		<mapping class="com.italoweb.gestorfinan.model.Impuesto" />
		<mapping class="com.italoweb.gestorfinan.model.UnidadCompra" />
		<mapping class="com.italoweb.gestorfinan.model.poblacion.Ciudad" />
		<mapping class="com.italoweb.gestorfinan.model.poblacion.Departamento" />
		<mapping class="com.italoweb.gestorfinan.model.poblacion.Pais" />
		<mapping class="com.italoweb.gestorfinan.model.SesionUsuario" />
		<mapping class="com.italoweb.gestorfinan.model.ParametrosGenerales" />
		<mapping class="com.italoweb.gestorfinan.model.ProductoDescuento" />
		<mapping class="com.italoweb.gestorfinan.model.Roles" />
		<mapping class="com.italoweb.gestorfinan.model.factura.Factura" />
		<mapping class="com.italoweb.gestorfinan.model.factura.FacturaDetalle" />
		<mapping class="com.italoweb.gestorfinan.model.factura.FacturaImpuesto" />
	</session-factory>
</hibernate-configuration>